<footer>
  <app-grid>
    <div class="left-container">
      <strong>©{{lastYear}} CodeBoost</strong>
      <p>O curso Codeboost foi desenvolvido por William Moreira. As vagas são distribuídas por turmas de forma sazonal. Caso perca alguma oportunidade é só aguardar a próxima turma que normalmente acontece dentro do período de 3 a 4 meses.</p>
    </div>
    <div class="right-container">
      <div class="group">
        <span>Grupo</span>
        <img src="/logo-boost.svg" alt="Logo do Grupo Boost">

      </div>
      <button (click)="scrollToTop()" type="button">
        <img src="/icon-arrow-up-svg" alt="">
      </button>
    </div>
  </app-grid>
</footer>