<footer>
  <app-grid>
    <div class="left-container">
      <strong>©{{ lastYear }} Blogboost</strong>
      <p>
        O Blogboost é um projeto criado por Luiz Ricardo com foco em compartilhar conteúdos sobre desenvolvimento front-end, tecnologias modernas e boas práticas de código. As publicações são feitas com frequência e organizadas por temas. Se você perdeu algum post recente, é só ficar de olho — sempre tem novidade pintando por aqui!
      </p>
    </div>
    <div class="right-container">
      <button (click)="scrollToTop()" type="button">
        <svg
          width="9"
          height="14"
          viewBox="0 0 9 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.48549 13.6667V7.86276V2.05884M4.48549 2.05884L7.73568 5.30903M4.48549 2.05884L1.23529 5.30903"
            stroke="white"
            stroke-width="1.5"
          />
        </svg>
      </button>
    </div>
  </app-grid>
</footer>
