<header>
  <app-grid className="container--flex">
    <a href="/" title="Página Inicial">
      <img
        ngSrc="/logo-blogboost.svg"
        alt="Blogboost"
        loading="lazy"
        width="160"
        height="32"
      />
    </a>

    <app-navigation />
    <button
      (click)="toggleMenu()"
      [class.active]="ismenuOpen"
      class="btn-menu"
      tabindex="0"
      role="button"
      aria-controls="navigation"
    >
      <span class="btn-menu-inner"></span>
    </button>
  </app-grid>
</header>
<app-aside [class.active]="ismenuOpen" (linkClicked)="ismenuOpen = false" />
