@use 'mixins' as *;

::ng-deep app-post {
  .s-detalhes-post {
    position: relative;
    background-color: var(--white);
    padding: 4.8rem 0 12rem;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--gray-scale-01);
      height: 34.8rem;
      width: 100%;
      z-index: 0;
    }
    .container {
      .top-details {
        position: relative;
        z-index: 1;
        @include flexCenterJustify;
        .breadcrumbs {
          @include flex-center;
          li {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: .4rem;
              right: -2.5rem;
              width: 1rem;
              height: 1rem;
              background: url(/icon-arrow-right-2.svg) no-repeat center center;
            }
            &:last-child {
              &::after {
                display: none;
              }
            }
            &:not(:first-child) {
              margin-left: 4rem;
            }
            a {
              display: block;
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 105%;
              color: var(--gray-scale-05);
              transition: color .3s ease;
              &:hover {
                color: var(--white);
                svg {
                  path {
                    stroke: var(--white);
                  }
                }
              }
            }
            span {
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 105%;
              color: var(--white);
            }
          }
        }
      }
      .featured-info-post {
        position: relative;
        z-index: 1;
        margin-top: 4.8rem;
        margin-bottom: 8rem;
        .image {
          width: 100%;
          height: 47.2rem;
          border-radius: .8rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .box-info-post {
          position: relative;
          background-color: var(--white);
          box-shadow: 0px 24px 40px -8px rgba(16, 12, 28, .06);
          border-radius: .8rem;
          width: 100%;
          max-width: 100.8rem;
          padding: 4.8rem 7.2rem;
          margin: 0 auto;
          margin-top: -10.6rem;
          z-index: 2;
          h1 {
            color: var(--gray-scale-01);
            margin: 2rem 0 2.8rem;

          }
        }
      }
      .info-post-geral {
        @include flex-start;
        margin-top: 8rem;
        .left-content {
          flex: 1;
          max-width: 23.6rem;
          position: sticky;
          top: 11rem;
          h6 {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 120%;
            color: var(--gray-scale-01);
            margin-bottom: 4rem;
          }
        }
        .right-content {
          flex: 1;
          max-width: 80rem;
          margin-left: 7.6rem;
          .post-content {
            width: 100%;
            border-bottom: .2rem solid rgba(28, 22, 46, .1);
            padding-bottom: 4rem;
            margin-bottom: 4rem;
          }

          .share {
            @include flexCenterJustify;
            strong {
              font-weight: 600;
              font-size: 1.6rem;
              line-height: 100%;
              color: var(--gray-scale-01);
            }
          }
        }
      }
    }
  }
  .post-content {
    p {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 175%;
      color: var(--gray-scale-03);
      margin-bottom: 1.6rem;
      a {
        text-decoration: underline;
        transition: filter .3s ease, -webkit-filter .3s ease;
        &:hover {
          filter: brightness(0.5);
        }
      }

    }
    
    code {
      background: rgb(195 202 241);
      border-radius: 4px;
      padding: 0.2rem 0.4rem;
      font-family: monospace;
      color: var(--gray-scale-01);
    }
  
    h1, h2, h3, h4, h5, h6 {
      color: var(--gray-scale-01);
      margin-bottom: 2.4rem;
    }
  
    ul, ol {
      padding-left: 1.5rem;
      margin-bottom: 4rem;
      li {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 175%;
        color: var(--gray-scale-03);
        &::marker {
          color: var(--pink);
        }
      }
    }

    ol {
      li {
        list-style-type: decimal;
      }
    }
  
    li {
      margin-bottom: 0.5rem;
    }
  
    a {
      font-size: 1.6rem;
      color: var(--pink);
      text-decoration: underline;
      transition: all .3s ease;
      &:hover {
        text-decoration: none;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
      margin: 2rem 0;
      border-radius: 8px;
    }
  
    blockquote {
      border-left: .2rem solid rgba(92, 31, 166, .15);
      padding-left: 2.4rem;
      margin-bottom: 4rem;
      p {
        font-size: 1.6rem;
      }
    }
  }
  @include responsive("laptop") {
    .s-detalhes-post {
      .container {
        .info-post-geral {
          .left-content {
            display: none;
          }
          .right-content {
            max-width: 100%;
            margin-left: 0;

          }
        }
      }
    }
  }
  @include  responsive("tablet") {
    .s-detalhes-post {
      .container {
        .featured-info-post {
          .box-info-post {
            max-width: 85rem;
            padding: 4rem;

          }
        }
      }
    }
  }
  @include responsive("tablet-md") {
    .s-detalhes-post {
      .container {
        .featured-info-post {
          .box-info-post {
            max-width: 65rem;
          }
        }
      }
    }
  }
  @include responsive("mobile") {
    .s-detalhes-post {
      padding: 4rem 0 !important;
      .container {
        .top-details {
          flex-direction: column;
          align-items: flex-start;
          .breadcrumbs {
            flex-wrap: wrap;
            margin-bottom: 4rem;
            li {
              &:last-child {
                span {
                  font-size: 1.8rem;
                  line-height: 160%;
                }
              }
            }
          }
        }
        .featured-info-post {
          margin-bottom: 4rem;
          margin-top: 0;
          .image {
            height: 25rem;
          }
          .box-info-post {
            margin-top: -5.6rem;
            max-width: 90%;
            padding: 2rem;
            h1 {
              font-size: 2.2rem;
              margin: 1.5rem 0;
              text-wrap: balance;
            }
          }
        }
        .info-post-geral {
          margin-top: 4rem;
          .right-content {
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            .share {
              flex-direction: column;
              justify-content: space-between;
              strong {
                display: block;
                margin-bottom: 2rem;
              }
            }
          }
        }
      }
    }
    .post-content {
      blockquote {
        padding-left: 1.5rem;
        margin-bottom: 2rem;
      }
      h2 {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}

