<section class="s-not-found">
  <app-grid>
    <div class="img-graphic">
      <img ngSrc="img-404.webp" alt="Ilustração de um alienígina, chibi, com a escrita 404 na parte de cima" width="286" height="335">
      <div class="shadow"></div>
    </div>

    <div class="infos">
      <h1>Ops! Não encontramos a página que você estava buscando!</h1>
      <p>Esta página não está disponível, o link é inválido ou foi removido. Mas você pode continuar navegando e encontrar o que procura!</p>

      <a href="/" title="Voltar para página inicial" class="btn-primary">Voltar para página inicial</a>
    </div>
  </app-grid>
</section>