<a [href]="'/post/' + post.slug" class="card-post-default">
  <div class="image">
    <img
      [ngSrc]="post.imagemDestacada.url"
      [alt]="post.titulo"
      [width]="post.imagemDestacada.width"
      [height]="post.imagemDestacada.height"
      format="webp"
      priority
    />
  </div>

  <div class="info">
    <app-caption [label]="post.categoria[0].nomeDaCategoria" />

    <h6>{{ post.titulo }}</h6>

    <ul>
      <li>
        <span>{{ post.createdAt | date : "d, MMM" }}</span>
      </li>
      <li>
        <span>{{ getReadingTime(post.conteudoPost[0].html || "") }}</span>
      </li>
    </ul>
  </div>
</a>
