@use 'mixins' as *;

::ng-deep app-all-posts {
  .s-artigos {
    background: linear-gradient(180deg, #0F0C1B 85.69%, rgba(15, 12, 27, 0) 100%);
      padding: 12rem 0;
      border-bottom: 2px solid var(--dark-scale-01);
    .container {
      .top {
        @include flexCenterJustify;
        margin-bottom: 4rem;
        p {
          color: var(--gray-scale-06);
        }
      }
      .all {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem 3.2rem;
        margin-bottom: 8rem;
      }
    }
  }
  @include responsive("laptop") {
    .s-artigos {
      .container {
        .all {
          margin-bottom: 4rem;
          grid-gap: 2rem;
        }
      }
    }
  }
  @include responsive("tablet-md") {
    .s-artigos {
      .container {
        .all {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  @include responsive("mobile") {
    .s-artigos {
      padding: 6rem 0;
      .container {
        .top {
          flex-direction: column;
          h2 {
            margin-bottom: 2rem;
          }
        }
        .all {
          grid-template-columns: 1fr;
          grid-gap: 3.2rem;
        }
      }
    }
  }
}

