@use 'mixins' as *;

::ng-deep app-all-posts {
  .s-artigos {
    background: linear-gradient(180deg, #0F0C1B 85.69%, rgba(15, 12, 27, 0) 100%);
      padding: 12rem 0;
      border-bottom: 2px solid var(--dark-scale-01);
    .container {
      .top {
        @include flexCenterJustify;
        margin-bottom: 4rem;
        p {
          color: var(--gray-scale-06);
        }
      }
      .all {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem 3.2rem;
        margin-bottom: 8rem;
      }

      .btn-primary {
        margin: 0 auto;
        display: block;
      }
    }
  }
  @include responsive("laptop") {
    .s-artigos {
      .container {
        .all {
          margin-bottom: 4rem;
          grid-gap: 2rem;
        }
      }
    }
  }
  @include responsive("tablet-md") {
    .s-artigos {
      .container {
        .all {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
  @include responsive("mobile") {
    .s-artigos {
      padding: 6rem 0;
      .container {
        .top {
          flex-direction: column;
          h2 {
            margin-bottom: 2rem;
          }
        }
        .all {
          grid-template-columns: 1fr;
          grid-gap: 3.2rem;
        }

        .btn-primary {
          width: 95%;
          padding: 2.5rem 0;
          font-size: 1.8rem;
        }
      }
    }
  }
}

.btn-primary {
  padding: 1.6rem 3.2rem;
    color: var(--pink);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 100%;
    border: .1rem solid rgba(246, 122, 203, .55);
    border-radius: .8rem;
    transition: all .3s ease;
    &:hover {
      background-color: var(--pink);
      color: var(--white);
    }
}