<a *ngIf="post" [href]="'/post/' + post.slug" class="card-post-lg">
  <div class="image">
    <img
      format="webp"
      [width]="post.imagemDestacada.width"
      [height]="post.imagemDestacada.height"
      [ngSrc]="post.imagemDestacada.url"
      [alt]="post.titulo"
      priority
    />
  </div>

  <div class="info">
    <div class="top-info">
      <app-caption [label]="post.categoria[0].nomeDaCategoria" />

      <ul>
        <li>
          <img src="/icon-calendar.svg" alt="Ícone de um calendário" />
          <span>{{ formattedDate }}</span>
        </li>
        <li>
          <img src="/icon-clock.svg" alt="Ícone de um relógio" />
          <span>{{ readingTime }}</span>
        </li>
      </ul>
    </div>

    <h3>{{ post.titulo }}</h3>
  </div>
</a>
